html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
* {
box-sizing: border-box;    
}
.header {
    border: 1px solid red;    
}
.main {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}
.footer {
    border: 1px solid red;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}
.section {
    width: 50%;

}
@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}